<!DOCTPYE html>
<html>
	<head>
		<style>
		html{
			position:fixed;
			top:0;
			bottom:0;
			left:0;
			right:0;
		}
		body {
			background-color: #C6FAFF;
			position:fixed;
			top:0;
			bottom:0;
			left:0;
			right:0;
		}

		
		.button { background-color: #4CAF50;
				  border: bold;
				  border-color: white;
				  color: white;
				  font-size: 48px;
				  margin: 50%;
				}
	
		
		</style>	
	</head>
	
	<body>

		<form action = "/main.html" method = "post">
			<p>Enter ID: <input type = "text" name = "user_id" /></p>
			<p>Enter Password: <input type = "text" name = "user_pswd" /></p>
			<p><input type = "submit" value = "submit" /></p>
			
			<button type="button" value="btn_signup">Sign Up!</button>
			
			
		</form>
		
	</body>




</html>